html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    box-sizing: content-box;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    width: 100%;
  }
  
  .xnode-details {
    flex: 1;
    width: 100%;
  }
  
  .box {
    width: 100%;
    margin-top: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    height: fit-content;
    border: 1px solid #e5e7eb;
  }
  
  .measurements {
    margin-top: 1rem;
    display: flex;
    width: 100%;
    gap: 3.5rem;
  }
  
  .access {
    display: flex;
    flex-direction: column;
  }